private-google-drive-directory.txt
data_old/
09) animate.R
.RData
.Rhistory
data/ngram_dependencies_adjectives.csv
data/ngram_dependencies_adjectives_wide.csv
data/ngram_dependencies_adjectives_wide_normalized.csv
images/decoder.png
images/encoder.png
images/model structure.pptx
.gitignore